.ProductsBox {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.Row {
  padding: 5vh 5vh 5vh 2.5vh;
  width: 100%;
}

.Col {
  display: flex;
  justify-content: center;
}

@media screen and ((max-width: 768px)) {
  .ProductsBox {
    flex-direction: column;
    align-items: center;
  }

  .Row {
    padding: 2.5vh 5vh 5vh 5vh;
  }
}